# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Distribution and build directories
build/
dist/
*.egg-info/

# Log files
*.log

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest and coverage files
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# MyPy type check reports
.mypy_cache/
.dmypy.json

# IDE and editor configurations
.vscode/
.idea/
*.sublime-workspace

# Profiling data
*.prof

# Database and SQLite files
*.sqlite3
*.db
